.card { 
  display: flex;
  flex-direction: column;
  border: 1px solid #A3CEF1;
  margin-bottom: 1em;
  align-items: center;
  width: 340px;
  height: 540px;
  box-shadow: 8px 8px 20px rgb(97, 96, 96);
  overflow: hidden;
  border-radius: 8px;
}

.card p {
    text-align: center;
  
}

.temp{
  width: 90%;
  margin-top: -0.4em;
}

.card h2 {
  width: 90%;
  font-weight: bold;
  text-align: center;
}

.card:hover{
    transform: scale(1.02, 1.02);
    border: 1px solid #274C77;

}


#imagen {
  width: 340px;
  height:300px;
  object-fit:cover;
}
