#welcome {
  color: rgb(0, 0, 0);
  font-size: 2em;
  border: 2.5px rgb(0, 0, 0) solid;
  padding: 0.3em 0.4em;
  border-radius: 30px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  position: absolute;
  right: 300px;
  top: 220px;
  transition: all 1s;
}

#welcome:hover {
  transform: scale(1.04, 1.04);
  border-color: #2798f5;
  color: #2798f5;
}

#image {
  min-height: 100vh;
  background: url("https://i.ibb.co/48XWzH8/french-bulldog-young-dog-posing.jpg");
  background-position: center;
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
}


@media screen and (min-width: 300px) and (max-width: 399px) {
  #welcome {
    right: 90px;
    top: 40px;
  }

}
@media screen and (min-width: 400px) and (max-width: 500px) {
  #welcome {
    right: 115px;
    top: 60px;
  }

}
@media screen and (min-width: 700px) and (max-width: 840px) {
  #welcome {
    font-size: 2.5em;
    right: 280px;
    top: 90px;
  }
 
}
@media screen and (min-width: 900px) and (max-width: 1030px) {
  #welcome {
    font-size: 3em;
    right: 370px;
    top: 100px;
  }
}

